<!-- CREDITS: -->
<!-- Page Icon: Christopher T. Howlett via https://thenounproject.com/-->
<!-- Else: Blake Ballew -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@100&display=swap" rel="stylesheet">f="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header-container">
      <h1>TypeScript Snake</h1>
    </div>

    <div class="board-container">
      <div *ngFor="let sublist of gameBoard" class="row">
        <div *ngFor="let atom of sublist" class="column">
          <div class="{{giveColor(atom)}}">
          </div>
        </div>
      </div>
      <div class="footer-container">
        <div class="author">
            <a href="https://github.com/BlakeBallew"
            class="author-link">Author: Blake Ballew</a>
        </div>
        <div *ngIf="!alive"
        class="play-again-button"
        (mouseover)="gameResetUnderline=true"
        (mouseout)="gameResetUnderline=false">
        <button *ngIf="gameResetUnderline"
        class="play-again-underline"
        (click)="gameReset()">Play Again</button>
        <button *ngIf="!gameResetUnderline"
        class="play-again-default">Play Again</button>
      </div>
  
      <div class="scores">
        <h2>{{"Score: " + snakeIds.length}}</h2>
        <h2 class="highScore">{{"Highscore: " + highScore}}</h2>
      </div>
    </div>
    </div>
  </body>
</html>